
<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/assets/weather-icon.png"/>
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Prakash. It uses data from mapbox.net and weatherstack.com.</weatherstack></p>
      <img class="portrait" src="./assets/prof1.jpeg"/>
    </div>
    {{>footer}}
  </body>
</html>