
<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/assets/weather-icon.png"/>
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    {{>header}}
    <img class="portrait" src="./assets/prof1.jpeg"/>
    {{>footer}}
  </body>
</html>