
<html>
  <head>
    <title>Help</title>
    <link rel="icon" href="/assets/weather-icon.png"/>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="main-content" >
      {{>header}}
      <h1>This is help page</h1>
    </div>
    {{>footer}}
  </body>
</html>